body {
	font-family: 'Lato', sans-serif;
	letter-spacing: 0.1px;
}

* {
	margin: 0;
	padding: 0;
}

.container-cam{
}
.container-cam .tit{
	padding: 0;  
	background: rgb(2,0,36);
	background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 79%, rgba(0,212,255,1) 100%); 
	position: relative;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	color: cornsilk;
}

